<div class="container">

  <h1 class="text-center">Find Farm to Table Restaurants</h1>
  <div class="row">
    <p class="text-center">
      <%= link_to image_tag('chicago-2.jpg', width: '600', height: '300', alt: 'Chicago Skyline'), 'restaurants.html', title: 'Chicago Skyline', rel: 'tooltip', relative: true %>
    </p>

  </div>
    <br>
    <br>

    <h1 class="text-center">Find Restaurants in Other Cities</h1>
    <div class="row">
      <p class="text-center">
        <%= link_to image_tag('atlanta.jpg', width: '300', height: '300', alt: 'Atlanta'), 'restaurants.html', title: 'Chicago Skyline', rel: 'tooltip', relative: true %>
   
        <%= link_to image_tag('new-orleans.jpg', width: '300', height: '300', alt: 'New Orleans'), 'restaurants.html', title: 'Chicago Skyline', rel: 'tooltip', relative: true %>

        <%= link_to image_tag('tucson.jpg', width: '300', height: '300', alt: 'Tuscon'), 'restaurants.html', title: 'Chicago Skyline', rel: 'tooltip', relative: true %>

        <%= link_to image_tag('seattle.jpg', width: '300', height: '300', alt: 'Seattle'), 'restaurants.html', title: 'Chicago Skyline', rel: 'tooltip', relative: true %>

        <%= link_to image_tag('tampa.jpg', width: '300', height: '300', alt: 'Tampa'), 'restaurants.html', title: 'Chicago Skyline', rel: 'tooltip', relative: true %>

        <%= link_to image_tag('indiana.jpg', width: '300', height: '300', alt: 'Indiana'), 'restaurants.html', title: 'Chicago Skyline', rel: 'tooltip', relative: true %>

      </p>
    </div>
    <br>
    <br>
    <br>
  
</div>