
    <% @restaurants.each do |restaurant| %>
      
        <p><%= link_to restaurant.name, restaurant.url %> </br>
        <%= restaurant.address %></br>
      <% if user_signed_in? %>
        <%= restaurant.latitude %></br>
        <%= restaurant.longitude %></br>
      <% end %>
   
      <% if user_signed_in? %>
        
        <%= link_to 'Edit', edit_restaurant_path(restaurant) %> |
        <%= link_to 'Destroy', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      <% end %>

    <% end %>
