
<!-- # title would go here
 -->
<div class="container">
      <h2>Restaurants that Source From Local Farms<br></h2>
               
  <div class="map_container">
    <div id="map_canvas" class="map_canvas"></div>
  </div>
      <script type="text/javascript">
        handler = Gmaps.build('Google');
        handler.buildMap({
            provider: {
              // pass in other Google Maps API options here
            },
            internal: {
              id: 'map_canvas'
            }
          },
          function(){
            markers = handler.addMarkers(<%=raw @arrayOfRestaurants.to_json %>);
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
          }
        );

        // adds the users current location based on browser GPS
        function addCurrentLocation() {

          function displayOnMap(position){
            var marker = handler.addMarker({
              lat: position.coords.latitude,
              lng: position.coords.longitude,
              picture: {
                url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
                width:  36,
                height: 36
              },
              infowindow: "This is you!"
            });
            handler.bounds.extendWith(markers);
            handler.fitMapToBounds();
            // handler.map.centerOn(marker);
          };

          if(navigator && navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(displayOnMap);  
          }

        }

        addCurrentLocation();
      </script>

     <br>
     <br>
     <button class="btn btn-default" type="submit"><%= link_to 'Add A Restaurant', new_restaurant_path %></button>
     <br> 
     <br>



<%= form_tag restaurants_path, :method => :get do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
     
          <%= submit_tag "Search Near", :name => nil %>
        </p>
      <% end %>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
      <th>Address</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.name, restaurant %></td>
        <td><%= link_to restaurant.url, url_with_protocol(restaurant.url), :target => '_blank' %> </td>
        <td><%= restaurant.address %></td>
        
      <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
      <% end %>
      <% if admin_signed_in? %>
        <td><%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
  
  </div>
<br>
<br> 
<br>

<button onclick="myFunction()">Need Help?</button>

<script>
function myFunction() {
    alert("Make sure that your location services are on and that you clicked allow so we can use them. If the map is not rendering, refresh the page.");
}
</script>
</div>