<div class="container-fluid">
  <%= link_to restaurants_path, class: "btn btn-success" do %>
        <span class="glyphicon"></span> Back to Map
  <% end %>

  <div class="row">
  <%= form_tag search_restaurants_path, method: :get, role: "search" do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
          <%= submit_tag "Search", name: nil, class: "btn btn-default" %>
  <% end %>
  <%= link_to "Show All", restaurant_list_path, class: "btn btn-default" %><br><br>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Website</th>
        <th>Address</th>
        <!-- <th>Phone</th> -->
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= link_to restaurant.name, restaurant %></td>
          <td><%= link_to restaurant.url, url_with_protocol(restaurant.url), :target => '_blank' %> </td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.distance.round(2) %> miles</td>
          
        <% if user_signed_in? %>
          <td><%= link_to 'Edit', edit_restaurant_path(restaurant) %></td>
        <% end %>
        <% if admin_signed_in? %>
          <td><%= link_to 'Delete', restaurant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>